<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.sheet">

  <application>
    <activity
      android:name="com.transparent.activity.TransparentActivity"
      android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
      android:windowSoftInputMode="adjustResize"
      android:exported="false"
      android:theme="@style/Theme.Transparent"/>
  </application>
</manifest>
